html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
nav {
  border-bottom: 1px solid black;
  padding: 0 75px;
  display: flex;
  justify-content: flex-end;
  align-items: right;
}
nav a {
  color: black;
  font-size: 1em;
  text-decoration: none;
}
.home-logo-container:hover {
  border: 1px solid black;
}
.home-logo {
  display: inline;
  font-size: 3em;
}
