.curiosity-page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/curiosity.jpeg");
  color: #fbf7f5;
  background-position: center;
  background-size: cover;
  background-repeat: center;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}
.weather-display-flex {
  display: flex;
  justify-content: center;
  padding: 2vh 0 0;
}
.weather-display-grid {
  /* border: 3px solid #fbf7f5; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 2vh 5vw;
  display: grid;
  grid-template-rows: 10vh 5vh 15vh 30vh 25vh 5vh;
  grid-template-columns: 10vw 65vw 20vh;
  text-align: center;
}
.curiosity-weather-divs {
  /* border: 1px solid black; */
  text-align: center;
  padding: 3% 3%;
}
.season-container {
  /* border: 1px solid black; */
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.season-title {
  text-decoration: underline;
}
.hover-container {
  /* border: 1px solid black; */
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.location-container {
  /* border: 1px solid black; */
  grid-row: 1 / span 3;
  grid-column: 3 / span 1;
}
.location-logo {
  margin: 0;
}
.links {
  text-decoration: none;
  color: #fbf7f5;
  font-size: 0.7em;
}
.links:hover {
  color: black;
}
.weather-list {
  grid-row: 5 / span 1;
  grid-column: 1 / span 3;
}
.weather-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.season-title,
.sol-number,
.max-temp {
  font-weight: bolder;
}
.earth-date {
  font-size: 0.6em;
}
.min-temp {
  font-size: 0.7em;
}
.days-on-mars {
  text-decoration: underline;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
