/* body {
  background: green;
} */
.homepage {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: orange;
}
nav {
  background: orange;
}
.home-information-flex {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  padding: 15vh 0 0;
}
.home-information-grid {
  border: 2px solid black;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  padding: 2vh 5vw;
  display: grid;
  grid-template-rows: 15vh 30vh 5vh 5vh;
  grid-template-columns: 25vh 40vh 25vh;
  text-align: center;
}
.title-container {
  /* border: 1px solid black; */
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  font-size: 2.5em;
  text-align: left;
}
.curiosity-container {
  border: 1px solid black;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.insight-container {
  border: 1px solid black;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}
.insight-container,
.curiosity-container {
  font-size: 3vh;
}
.insight-container a,
.curiosity-container a {
  text-decoration: none;
  color: black;
}
.insight-container:hover,
.curiosity-container:hover {
  background: grey;
}
.title-description {
  margin: 5% auto;
}
.home-description {
  margin: 2% 5%;
}
