/* body {
  background: green;
} */
.homepage {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("https://s3.amazonaws.com/psiu/wallpapers/heic0601a/heic0601a_desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bolder;
}
/* nav {
  background: orange;
} */
.home-information-flex {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  padding: 15vh 0 0;
}
.home-information-grid {
  border: 3px solid #fbf7f5;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  padding: 2vh 5vw;
  display: grid;
  grid-template-rows: 15vh 30vh 5vh 5vh;
  grid-template-columns: 25vh 40vh 25vh;
  text-align: center;
}
.title-container {
  /* border: 1px solid black; */
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  font-size: 2.5em;
  text-align: left;
  color: #fbf7f5;
}
.curiosity-container {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.insight-container {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}
.insight-container,
.curiosity-container {
  font-size: 3vh;
  border: 1px solid #fbf7f5;
}
.insight-container a,
.curiosity-container a {
  text-decoration: none;
  color: black;
}
.insight-container:hover,
.curiosity-container:hover {
  background: rgba(251, 247, 245, 0.2);
}
.title-description {
  margin: 5% auto;
}
.home-description {
  margin: 2% 5%;
  color: #fbf7f5;
}
