.insight-page,
.curiosity-page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: #fbf7f5;
}
.insight-page {
  background: url("../images/mars.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.curiosity-page {
  background: url("../images/mars.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.weather-display-flex {
  display: flex;
  justify-content: center;
  padding: 2vh 0 0;
}
.weather-display-grid {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 2vh 5vw;
  display: grid;
  grid-template-rows: 10vh 5vh 15vh 30vh 25vh;
  grid-template-columns: 10vw 65vw 20vh;
  text-align: center;
}
.insight-weather-divs,
.curiosity-weather-divs {
  text-align: center;
  padding: 3% 3%;
}
.season-container {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-transform: capitalize;
}
.season-title {
  text-decoration: underline;
  font-size: 1.5em;
}
.hover-container {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.location-container {
  grid-row: 1 / span 3;
  grid-column: 3 / span 1;
}
.location-logo {
  margin: 0;
}
.links {
  text-decoration: none;
  color: #fbf7f5;
  font-size: 0.75em;
}
.links:hover {
  color: black;
}
.weather-list {
  grid-row: 5 / span 1;
  grid-column: 1 / span 3;
}
.weather-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.season-title,
.sol-number,
.max-temp {
  font-weight: bolder;
  font-size: 1.35em;
}
.earth-date {
  font-size: 0.7em;
}
.max-temp {
  font-size: 1.4em;
}
.min-temp {
  font-size: 0.8em;
}
.instrument-info {
  font-size: 1.2em;
}
.days-on-mars {
  text-decoration: underline;
  font-size: 1em;
}
